---
services:
  mysql:
    image: "{{ mysql_image }}"
    container_name: mysql
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"

    ports:
      - "3306:3306"

    volumes:
      - "{{ mysql_data_dir }}:/var/lib/mysql"

    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - -h
        - localhost
        - "-p{{ mysql_root_password }}"
      interval: 10s
      timeout: 5s
      retries: 10
